/* Підключення шрифта */
@font-face {
  font-family: 'VTFont'; /* Назва шрифта, який буде використовуватись */
  src: url('font/VT.ttf') format('truetype'); /* Вказуємо шлях до файлу шрифта та формат */
  font-weight: normal; /* Нормальна товщина шрифта */
  font-style: normal; /* Нормальний стиль шрифта */
}

/* Загальні стилі */
body {
  margin: 0; /* Відступи від країв сторінки */
  padding: 20px; /* Внутрішні відступи */
  font-family: 'VTFont', Arial, sans-serif; /* Шрифт для тексту (спочатку VTFont, якщо він відсутній, використовуємо Arial або sans-serif) */
  background-color: #000000; /* Чорний фон */
  color: #d7ffb7; /* Колір тексту */
  line-height: 1.6; /* Висота рядка для кращої читабельності */
  position: relative; /* Встановлюємо відносне позиціонування для елементів всередині */
}

/* Стилі для заголовка */
h1 {
  font-size: 24px; /* Розмір шрифта заголовка */
  margin-bottom: 20px; /* Відступ знизу */
  padding-left: 40px; /* Відступ зліва для тексту, щоб не перекривався */
}

/* Стилі для посилань */
a {
  color: #d7ffb7; /* Колір тексту посилань */
  text-decoration: none; /* Вимикаємо підкреслення для звичайного стану */
}

a:hover {
  text-decoration: underline; /* Підкреслення при наведенні на посилання */
}

/* Стилі для футера */
.footer {
  text-align: right; /* Вирівнювання тексту по правому краю */
  color: #0077ff; /* Колір тексту футера (синій) */
  font-size: 14px; /* Розмір шрифта в футері */
  margin-top: 20px; /* Відступ зверху */
}

/* Стилі для стрілки повернення */
.back-arrow {
  position: absolute; /* Абсолютне позиціонування */
  top: 20px; /* Відстань від верхнього краю */
  left: 20px; /* Відстань від лівого краю */
  font-size: 24px; /* Розмір шрифта для стрілки */
  color: #d7ffb7; /* Колір стрілки */
  text-decoration: none; /* Вимикаємо підкреслення для стрілки */
}

.back-arrow:hover {
  color: #b0e19a; /* Колір стрілки змінюється на світліший при наведенні курсора */
}